  <% include('../header.ejs')  %>
  <% include('../footer.ejs')  %>

  <h1>User Registration Form</h1>

  <form action="/register" method="post" > 

    <input type="text" name="name" placeholder="Enter Name" required>
    <br><br>
    <input type="text" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="text" name="mobile" placeholder="Enter Mobile" required>
    <br><br>
    <input type="text" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="number" name="is_admin" placeholder="admin" required>
    <br><br>
    <input type="number" name="is_verified" placeholder="verify" required>
    
    
    
    
    <input type="submit" method="post" value="Register">

    <% 
    if(typeof message !== 'undefined'){
     %>

     <p style="color: green;"><%= message %> </p>

     <%
    }

    %>
 

  </form>
